@using RestoranTemp.Models;
@model List<Services>
@{
    int count=1;
}

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Services</h4>

           <a asp-controller="Services" asp-action="create" type="button" class="btn btn-info">Add Services</a>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sira nomresi</th>
                            <th>Basliq</th>
                            <th>Alt basliq</th>
                            <th>Setting</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Services item in Model)
                        {
                            <tr>
                                <td>@(count++)</td>
                                <td>@item.Title</td>
                                <td>@item.Subtitle</td>
                                <td>
                                <a asp-controller="Services" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning"><i class="mdi mdi-cloud-sync"></i></a>
                                <a asp-controller="Services" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="mdi mdi-delete-variant"></i></a>
                                </td>

                            </tr>
                        }
                       
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>